<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Listagem por tipo</title>
    <link rel="stylesheet" href="css/main.css">


</head>

<body>
    <h1>IF Bank</h1> <br>

    <button><a href="/">Voltar ao seu painel</a></button> <br>
    <ul>
        <h4>
            {{#each registros}}
            <h2>Registros pelo tipo {{this.tipo}}</h2> <br>
            
            <li><strong>{{this.description}}</strong> - {{this.valor}} - {{this.tipo}} criado em: {{this.created_at}}
            </li>
            {{/each}}
        </h4>
    </ul>
</body>

</html>